body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-image: url('/assets/images/gifs/background.gif');
}

.pixelArt {
    /* Enables sharp scaling for Chrome, Safari, and newer Firefox */
    image-rendering: pixelated;
    /* Fallback for older Firefox */
    image-rendering: -moz-crisp-edges;
    /* Fallback for older Opera */
    image-rendering: -o-crisp-edges;
    /* Ensures consistency across browsers */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; 
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Title */

header {
    background-color: azure;
    border: 3px aqua;
    border-style: none dashed dashed dashed;
    text-align: center;
    width: 99vw;
    height: 8vh;
    margin-bottom: 1%;
}

#title {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 2rem;
}

#subTitle {
    text-align: center;
    width: 100%;
    font-size: 1rem;
}

/* Main Sections */

#mainSectionsContainer {
    display: flex;
    justify-content: center;
    min-height: 100dvh;
    width: 100%;
    box-sizing: border-box;
}

/* Main Map Area */

#mainMapArea {
    position: relative;
    max-width: 1400px;
    width: 100%;
    height: 100dvh;
    text-align: center;
    border-style: dashed none none none;
}

.mainMapAreaElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainMapAreaTitle {
    color: white;
    border-color: blue;
    text-shadow: -2px 0 #0080FF, 0 2px #0080FF, 2px 0 #0080FF, 0 -2px #0080FF;
}

#mainMap {
    margin: 0;
    top: 47%;
    width: 100%;
    height: 80%;
}

/* Side Bars Section */

.sideBar {
    
}

.sideBarTitle {
    left: 75%;
    top: 1%;
    font-size: 160%;
    margin-top: 10%;
    align-items: center;
    width: 100%;
}

/* Side Items */

#sideItems {
    background-color: azure;
    position: relative;
    width: 240px;
    min-height: 100dvh;
    border-style: dashed dashed dashed solid;
}

#sideItemsElementsHolder {
    display: block;
    text-align: -webkit-center;
    unicode-bidi: isolate;
}

.sideItemsElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sideItemsImages {
    width: 80%;
    height: 60%;
}

#webrings {
    background-color: #0080FF;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.marqueeWrapper {
    display: flex;
    white-space: nowrap;
    min-width: 100%;
    animation: marquee 10s linear infinite;
}

.webringElement {
    margin: 5%;
}

/* Side Nav */

#sideNav {
    background-color: aquamarine;
    position: relative;
    width: 240px;
    min-height: 100dvh;
    border-style: dashed solid dashed dashed;
    display: flex;
    align-items: center;
    overflow: auto;
}

.sideNavElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mapLegnedContainer {
    background-color: cyan;
}

.mapLegendLink:link {
    color: black;
}

.mapLegendLink:hover {
    color: black;
}

#otherPathsContainer {
    background-color: #0080FF;
}

/* Notifications */

#notificationsContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 3000;
    pointer-events: none;
}

#userJoinNotification {
    font-size: 160%;
}

/* On Open */

#onOpenUIContainer {
    background-color: rgba(255, 255, 255, 0.658);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 3000;
}

#updatesLog {
    background-color: cyan;
    position: relative;
    padding: 0;
    width: 30vw;
    height: 50vh;
    overflow: auto;
}

#lastUpdateLogs {
    background-color: rgb(255, 212, 158);
    position: relative;
    left: 3%;
    top: 15%;
    width: 18%;
    height: 80%;
    margin: 0;
    list-style-type: none;
    overflow: auto;
    padding-inline-start: 1%;
}

.updateLogButton {
    background-color: rgb(255, 199, 131);
    border-color: rgb(197, 143, 78);
    color: rgb(197, 143, 78);;
    margin-top: 3%;
    margin-bottom: 3%;
} 

#updatesLogsList {
    background-color: white;
    position: absolute;
    overflow: auto;
    left: 25%;
    right: 5%;
    top: 15%;
    bottom: 5%;
    width: 70%;
    height: 80%;
}

#updatesLogHead {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.updatesLogElement {
    margin-left: 3%;
}

/* Animations */

@keyframes marquee {
    10% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}