body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

header {
    background-color: azure;
    position: relative;
    width: 200%;
    z-index: 3001;
    overflow: hidden;
}

main {
    background-color: rgb(186, 197, 197);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    margin: auto;
    z-index: 3000;
}

#titleContainer {
    position: relative;
    padding: 0;
    width: 100vw;
    height: 16vh;
    overflow: hidden;
}

#title {
    white-space: nowrap;
    animation: marquee 16s linear infinite;
}

#subTitle {
    white-space: nowrap;
    animation: marquee 16s linear infinite;
}

#dotfilesContainer {
    background-color: rgb(207, 219, 219);
    position: relative;
    padding: 0;
    width: 50vw;
    height: 32vh;
    overflow: auto; 
}

#dotfilesContainerTitle {
    font-size: 160%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    left: 45%;
}

#archLogo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    height: 15%;
    left: 46%;
    top: 15%;
}

.dotfile {
    background-color: white;
    position: relative;
    display: flex;
    align-items: center; 
    flex-direction: column;
    left: 24%;
    width: 50%;
    height: 160px;
    margin: 1%;
    overflow: auto;
}

/* dotfiles */

#retro {
    background-color: black;
    color: #41FF00;
}

#retro > p {
    margin: 0;
}

/* Animations */

@keyframes marquee {
    10% {
        transform: translateX(-100%);
        color: aqua;
    }
    100% {
        transform: translateX(100%);
        color: blue;
    }
}